.DS_Store

# rust
target/

# terraform
.terraform/
*.tfplan
*.tfstate*
*.secret.tfvars

**/.env
**/.env.local

frontend/coverage
frontend/dist
frontend/node_modules
frontend/_fresh

lb/dist

.gcs
.minio

.idea
