@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/DMSans/DMSans-Variable.woff2") format("woff2-variations");
  font-display: swap;
}

@font-face {
  font-family: "DM Serif";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DMSerifText/DMSerifText-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DMMono/DMMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DM Mono";
  font-style: italic;
  font-weight: normal;
  src: url("/fonts/DMMono/DMMono-Italic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "DM Mono";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/DMMono/DMMono-Bold.woff2") format("woff2");
  font-display: swap;
}

@layer base {
  *,
  *:before,
  *:after {
    border-color: theme("colors.cyan.200");
  }

  :root {
    scroll-behavior: smooth;
    scrollbar-color: theme("colors.jsr-cyan.200") theme("colors.jsr-cyan.50");
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
  }

  body {
    font-size: 1.125rem;
    font-weight: 400;
    color: theme("colors.jsr-gray.700");
    @apply opsize-normal;
  }

  h1,
  h2,
  h3 {
    @apply opsize-sm;
  }
}

@layer utilities {
  .opsize-sm {
    font-variation-settings: "opsz" 32;
  }
  .opsize-normal {
    font-variation-settings: "opsz" 16;
  }

  .bg-striped {
    background: repeating-linear-gradient(
      -45deg,
      theme("colors.orange.50"),
      theme("colors.orange.50") 1rem,
      theme("colors.white") 1rem,
      theme("colors.white") 2rem
    );
  }

  .content-empty {
    content: "";
  }
}

@layer components {
  .button {
    @apply text-jsr-gray-700 inline-flex items-center gap-2 py-2.5 px-4.5 rounded-md leading-tight font-medium
      whitespace-nowrap hover:cursor-pointer disabled:cursor-not-allowed focus:outline-4 focus:outline-offset-2 select-none;
  }

  .button-sm {
    @apply gap-2 py-2 px-4.5 rounded-md text-sm leading-tight font-medium whitespace-nowrap
      hover:cursor-pointer disabled:cursor-not-allowed focus:outline-4 focus:outline-offset-2;
  }

  .button-primary {
    @apply button border-1.5 border-cyan-900 hover:border-cyan-600 bg-jsr-yellow text-cyan-950
      font-bold hover:bg-jsr-yellow-300 transition-all duration-75 ease-in-out focus:bg-jsr-yellow-300 outline-cyan-700
      outline-offset-2 disabled:bg-gray-100 disabled:text-gray-300 shadow-accent-sm disabled:shadow-transparent
    disabled:border-gray-300 active:shadow-accent-sm-close active:translate-x-[3px] active:translate-y-[4px];
  }

  .button-danger {
    @apply button border-1.5 border-red-950 bg-red-500 text-white hover:bg-red-700 disabled:bg-gray-100
    outline-red-600 disabled:text-red-300 shadow-accent-sm disabled:shadow-transparent disabled:border-red-300
    transition-all duration-75 active:shadow-accent-sm-close active:translate-x-[3px] active:translate-y-[4px];
  }

  .chip {
    @apply inline-block py-1 px-2.5 rounded-full whitespace-nowrap
      leading-none font-semibold text-sm;
  }

  .big-chip {
    @apply inline-block py-1.5 px-2.5 rounded-full whitespace-nowrap
      leading-none font-semibold text-base;
  }

  .section-x-inset-xl {
    @apply max-w-screen-xl mx-auto px-4 md:px-8 lg:px-10 xl:px-14;
  }

  .link {
    @apply text-jsr-cyan-700 hover:text-jsr-cyan-600 underline
      outline-none focus-visible:ring-2 ring-jsr-cyan-700 ring-offset-2 rounded-sm;
  }

  .link-header {
    @apply link opsize-sm font-medium decoration-jsr-cyan-700/25 hover:decoration-jsr-cyan-700 underline-offset-2;
  }

  .input-container {
    @apply bg-white rounded-md leading-snug
      border-1.5 border-jsr-cyan-900/30 focus-within:border-jsr-cyan-500
      has-[input:disabled,select:disabled]:text-jsr-gray-300 has-[input:disabled,select:disabled]:cursor-not-allowed
      has-[input:disabled,select:disabled]:bg-jsr-gray-100;
  }

  .input {
    @apply placeholder:text-jsr-gray-300 outline-none bg-transparent;
  }

  .search-input {
    @apply input-container border-jsr-cyan-950;
  }

  .select {
    @apply appearance-none outline-none;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M.47 3.97a.75.75 0 0 1 1.06 0L6 8.44l4.47-4.47a.75.75 0 0 1 1.06 1.06l-5 5a.75.75 0 0 1-1.06 0l-5-5a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/></svg>')
      no-repeat;
    background-position: center right 0.5rem;
  }
}

body .ddoc #sidepanel a:hover,
body .ddoc #sidepanel a:active {
  background-color: theme("colors.cyan.200");
}

body .ddoc #sidepanel {
  @apply pb-4;
  height: unset !important;
}

/* !important seems necessary for taking precedent over current ddoc styling */

body .ddoc .markdown h1 {
  @apply mt-8 -mx-6 px-6 md:mx-0 md:px-0 text-3xl md:text-4xl font-semibold !important;
}

body .ddoc .markdown h2 {
  @apply mt-8 -mx-6 px-6 md:mx-0 md:px-0 text-xl md:text-2xl font-bold md:font-medium !important;
}

body .ddoc .markdown h3 {
  @apply mt-6 -mx-6 px-6 md:mx-0 md:px-0 font-bold md:font-medium !important;
}

body .ddoc .markdown h4 {
  @apply mt-6 -mx-6 px-6 md:mx-0 md:px-0 font-bold md:font-medium !important;
}

body .ddoc a {
  word-wrap: break-word;
}

body .ddoc .markdown pre {
  @apply bg-slate-50 border-t-1.5 border-b-1.5 border-slate-300 -mx-6 rounded-none md:rounded-md md:border-1.5 md:mx-0;

  & > code:first-child {
    @apply px-6;

    &.flex {
      display: flex;
    }
  }
}

body .ddoc .markdown :not(pre) > code {
  @apply bg-slate-50 border-slate-300 rounded-md;
}

body .ddoc .markdown a:not(.no_color) {
  @apply link;
}

body .ddoc .usage {
  @apply bg-jsr-cyan-50 border-jsr-cyan-100 -mx-6 md:mx-0 pt-4 pb-5;
}

body .ddoc .usage nav details > summary {
  @apply border-jsr-cyan-200 py-1.5 px-2.5 !important;
}

body .ddoc .markdown .highlight .context_button {
  @apply hover:bg-jsr-cyan-50 border-inherit;
}

body .ddoc .contextLink {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 1.5px;
  /* cyan 700 at 25%; */
  text-decoration-color: #0e659040;
  text-underline-offset: 0.15em;
  color: theme("colors.jsr-cyan.700");
}

body .ddoc .breadcrumbs li:first-child .contextLink {
  @apply text-2xl;
}

body .ddoc .breadcrumbs li {
  @apply text-lg;
}

body .ddoc .markdown_summary > p {
  @apply line-clamp-4;
}

body .ddoc .namespaceSection {
  @apply gap-y-6 gap-x-10;
}

body .ddoc .namespaceSection .namespaceItem {
  @apply lg:pr-4;
  @apply md:min-h-[4rem];
}

.ddoc .markdown_summary :not(pre) > code {
  @apply bg-jsr-cyan-100/70 !important;
  @apply px-1.5 !important;
}

body .ddoc section.section {
  @apply mb-6;
}

body .ddoc section.section > div > h2 {
  @apply mb-1;
}

body .ddoc section.section > div > div.markdown_summary > p {
  @apply text-base;
  @apply max-w-prose;
}

/* only affect search box width on docs tab
TODO have a better way to target on a specific page */
.ddoc + div > input#symbol-search-input {
  @apply w-full md:min-w-80;
  @apply bg-white border-1.5 border-jsr-cyan-900/30;
}

body .ddoc .usage pre.highlight {
  @apply bg-white border-jsr-cyan-200;
}

body .ddoc .usage nav {
  @apply bg-jsr-cyan-50 border-jsr-cyan-900/10;
}

body .ddoc .usage nav details > summary {
  @apply border-jsr-cyan-200;
}

body .ddoc .usage nav details > div > div {
  @apply border-jsr-cyan-200;
}

body .ddoc > section > nav.py-4 {
  @apply pt-0 pb-0;
}

body .ddoc > section > nav.py-4 > ul {
  padding: 1rem 0;
  scrollbar-width: thin;
}

body .ddoc #module_doc,
body .ddoc main {
  @apply pb-8;
}

/** We hide the footer on ddoc pages so that there is no content underneath the doc pages that make scrolling experience weird */
body:has(.ddoc) #footer {
  display: none;
}

body .ddoc .markdown tr:nth-child(2n) {
  @apply bg-slate-50;
}

body .ddoc .markdown th,
body .ddoc .markdown td {
  @apply border-1.5 border-slate-300;
}

body .ddoc .markdown th {
  @apply py-1.5;
}

/* These might seem redundant but Tailwind won't always load them in the compiled stylesheet unless they're explicitly included here. */
.score-ring-red {
  @apply bg-red-500;
}

.score-ring-yellow {
  @apply bg-yellow-500;
}

.score-ring-green {
  @apply bg-green-500;
}

.score-text-red {
  @apply text-red-500;
}

.score-text-yellow {
  @apply text-yellow-500;
}

.score-text-green {
  @apply text-green-500;
}

@layer base {
  /* I hate having all these !important tags, but it's the only way to override some of the GFM styles */
  :root {
    --color-accent-fg: theme(colors.slate.100) !important;
    --color-border-default: theme(colors.slate.300) !important;
    --bgColor-neutral-muted: theme(colors.gray.100) !important;
    --color-neutral-muted: theme(colors.gray.600) !important;
    --color-accent-fg: theme(colors.cyan.700) !important;
    --fgColor-muted: theme(colors.gray.600) !important;
    --color-fg-default: theme("colors.jsr-gray.700") !important;
    --base-text-weight-semibold: 500;
    --bgColor-muted: theme(colors.slate.50);
  }
}
