name: Orama Symbols Reindex

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment for deployment"
        type: choice
        options:
          - prod
          - staging
        required: true

jobs:
  reindex_orama:
    runs-on: ubuntu-22.04
    environment:
      name: ${{ github.event.inputs.environment }}
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
      - name: Deploy
        env:
          ORAMA_SYMBOLS_PROJECT_KEY: ${{ secrets.ORAMA_SYMBOLS_PROJECT_KEY }}
          ORAMA_SYMBOLS_PROJECT_ID: ${{ vars.ORAMA_SYMBOLS_PROJECT_ID }}
          ORAMA_SYMBOLS_DATA_SOURCE: ${{ vars.ORAMA_SYMBOLS_DATA_SOURCE }}
          JSR_ENDPOINT_URL: ${{ vars.ENVIRONMENT_URL }}
        run: deno task tools:orama:symbols_reindex
